.userProfile p {
  margin-bottom: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.header h3,
.skillLevel h3 {
  font-size: 32px;
  color: var(--secondary-color);
  margin-bottom: 0px;
}

.leftContainer .editBtn,
.rightContainer .editBtn {
  border-radius: 50%;
  /* background-color: var(--main-color); */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  cursor: pointer;
  border: 1px solid var(--bg-color);
}

.aboutContainer,
.fightingContainer,
.awardsContainer,
.gymsContainer,
.instructorContainer,
.studentsContainer,
.rightContainer,
.ownersContainer {
  border: 3px solid var(--bg-color);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 2em;
}

.types {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 25px;
}

.skill h5 {
  font-family: var(--ff-primary-semiBold);
  font-size: 21px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.award {
  margin-bottom: 10px;
  position: relative;
}

.award img {
  width: 100%;
  height: 120px;
  margin-bottom: 7px;
  object-fit: cover;
}

.award p {
  margin-top: 6px;
  text-align: center;
  text-transform: capitalize;
}

.gym {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 1em;
}

.gymContent {
  display: flex;
  flex-direction: column;
  /* gap: 6px; */
  flex: 2;
}

.gym img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.gymImage {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  overflow: hidden;
  background-color: rgb(227, 227, 227);
}

.gymImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gymContent p {
  margin-bottom: 0px;
  font-family: var(--ff-primary-semiBold);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.gymContent span {
  font-size: 13px;
  margin-bottom: 0px;
}

.dues {
  padding-top: 20px;
}

.dues h5 {
  color: var(--secondary-color);
  font-size: 30px;
}

.fee {
  width: 100%;
  /* display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-top: 10px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.fee p {
  font-family: var(--ff-primary-medium);
  font-size: 18px;
  grid-area: 1 / 1 / 2 / 3;
}

.fee span {
  color: var(--secondary-color);
  font-family: var(--ff-primary-semiBold);
  font-size: 18px;
  grid-area: 1 / 3 / 2 / 4;
}

.owners {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.owner {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  overflow: hidden;
}

.owner:not(:last-child) {
  margin-right: -20px;
}

.owner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.chattingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding-top: 20px;
}

.chattingBox:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
}

.chattingBox h3 {
  font-size: 35px;
  color: var(--secondary-color);
}

.chattingBox button {
  width: 100%;
}

/* .fightingContainer {
    display: flex;
} */
.skillLevel p {
  font-family: var(--ff-primary-medium);
  font-size: 19px;
}

.member {
  display: flex;
  gap: 10px;
  padding-block: 20px;
}

.member:not(:last-child) {
  border-bottom: 1px solid #707070;
}

.memberImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.member h6 {
  margin-bottom: 0px;
  text-transform: capitalize;
}

.member p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.member p:first-child {
  font-size: 15px;
}

.member p:last-child {
  font-size: 15px;
}

.memberContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.showAllBtn {
  margin-top: 20px;
  width: 100%;
  border-radius: 0px;
  font-family: var(--ff-primary-semiBold);
  text-transform: capitalize;
}

.actions svg,
.editBtn {
  font-size: 20px;
}

.imageBox {
  height: 150px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(238, 233, 233);
}

.award img {
  width: 100%;
  height: 100%;
  margin-bottom: 7px;
  object-fit: contain;
}

.actionFields {
  position: absolute;
  top: -6px;
  right: 0px;
  display: flex;
  gap: 5px;
  z-index: 2;
}

.awardEdit {
  background-color: transparent !important;
  cursor: pointer;
  background-color: var(--white-color) !important;
  height: 30px !important;
  width: 30px !important;
  border: 1px solid black;
}

.skillLevelTypes {
  padding-top: 10px;
}

.skillLevelTypes p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skillLevelTypes .skillHeading {
  font-family: var(--ff-primary-semiBold);
  font-size: 19px;
}

.skillLevelTypes p span {
  font-size: 17px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.editField {
  margin-top: -30px;
}

.disciplineeBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}

.disciplineeBox:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-color);
}

.editDiscipline {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.editDiscipline .edit {
  font-size: 18px;
  color: var(--secondary-color);
  cursor: pointer;
}

.editDiscipline .delete {
  font-size: 18px;
  color: var(--bg-color);
  cursor: pointer;
}

.editField {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.edit {
  font-size: 18px;
  color: var(--secondary-color);
  cursor: pointer;
}

.delete {
  font-size: 18px;
  color: var(--bg-color);
  cursor: pointer;
}

.skillActions .editField {
  margin-top: 0px;
}

.domainHeading {
  display: flex;
  gap: 30px;
}

.gymContent .domainHeading {
  align-items: end;
}

.domainHeading p {
  font-size: 18px;
}

.gymContent .editField {
  padding-bottom: 7px;
}

.tooltipSvg {
  color: var(--bg-color);
  font-size: 20px;
}

.leftDiv {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tooltipDiv {
  display: inline-block;
}

.profilePage {
  position: relative;
}

.userProfile {
  padding-top: 30px;
}

.userBlurProfile {
  filter: blur(5px);
}

.allowEditDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000054;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
  padding-bottom: 100px;
  z-index: 10;
}

.allowToEdit {
  position: sticky;
  top: 45vh;
  left: 0;
  border-radius: 22px;
  border: 2px solid #e81c24;
  width: 650px;
  padding: 40px 30px 30px 30px;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: var(--white-color);
}

.allowToEdit h2 {
  text-align: center;
  font-size: 28px;
  color: var(--secondary-color);
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
  .fee {
    grid-column-gap: 0px;
  }
}

@media screen and (max-width: 991px) {
  .fee {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header h3,
  .skillLevel h3 {
    font-size: 28px;
  }

  .dues h5 {
    font-size: 24px;
  }

  .actions svg,
  .editBtn {
    font-size: 17px;
  }

  .leftContainer .editBtn,
  .rightContainer .editBtn {
    height: 34px;
    width: 34px;
  }

  .allowToEdit {
    width: 450px;
  }
  .tooltipDiv {
    display: block;
  }
  .tooltipDiv div {
    left: 20px !important;
  }
  .tooltipDiv span {
    display: block;
    width: 280px;
  }
}

@media screen and (max-width: 500px) {
  .allowToEdit {
    width: 380px;
    gap: 5px;
  }

  .allowToEdit h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .header h3,
  .skillLevel h3 {
    font-size: 22px;
  }

  .dues h5 {
    font-size: 20px;
  }

  .aboutContainer,
  .fightingContainer,
  .awardsContainer,
  .gymsContainer,
  .instructorContainer,
  .studentsContainer,
  .rightContainer,
  .ownersContainer {
    padding: 15px;
    margin-bottom: 1em;
  }

  .allowToEdit {
    padding: 30px 20px 20px 20px;
    width: 300px;
    gap: 5px;
  }
}
