.writeAPost {
  border-radius: 30px;
  border: 1px solid var(--black-color);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer
}

.writeAPost p {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: var(--ff-primary-semiBold)
}


.edit svg {
  font-size: 26px;
}

@media screen and (max-width:768px) {
  .inputWrapper {
    padding-inline: 1rem;
  }

  .actionWrapper {
    padding-inline: 1rem;
    gap: 2rem;
  }

  .actionWrapper p {
    font-size: 18px;
  }
}