.userProfile p {
    margin-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.header h3,
.skillLevel h3 {
    font-size: 35px;
    color: var(--secondary-color)
}

.leftContainer .editBtn,
.rightContainer .editBtn {
    border-radius: 50%;
    background-color: var(--bg-color);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;
}

.aboutContainer,
.fightingContainer,
.awardsContainer,
.gymsContainer,
.instructorContainer,
.studentsContainer,
.rightContainer,
.ownersContainer {
    border: 3px solid var(--bg-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 2em;
}

.types {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skill h5 {
    font-family: var(--ff-primary-semiBold);
    font-size: 21px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.award {
    margin-bottom: 10px;
    position: relative;
}

.award img {
    width: 100%;
    height: 120px;
    margin-bottom: 7px;
    object-fit: cover
}

.award p {
    text-align: center;
}

.gym {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 1em;
}

.gymContent {
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
    flex: 2
}

.gym img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover
}

.gymImage {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    overflow: hidden;
    background-color: rgb(227, 227, 227)
}

.gymImage img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.gymContent p {
    margin-bottom: 0px;
    font-family: var(--ff-primary-semiBold);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.gymContent span {
    font-size: 13px;
    margin-bottom: 0px;
}

.dues {
    padding-top: 20px;
}

.dues h5 {
    color: var(--secondary-color);
    font-size: 30px;
}

.fee {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-top: 10px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.fee p {
    font-family: var(--ff-primary-medium);
    font-size: 18px;
    grid-area: 1 / 1 / 2 / 3;
}

.fee span {
    color: var(--secondary-color);
    font-family: var(--ff-primary-semiBold);
    font-size: 18px;
    grid-area: 1 / 3 / 2 / 4;
}

.owners {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.owner {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    overflow: hidden
}

.owner:not(:last-child) {
    margin-right: -20px;

}

.owner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.chattingBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-top: 20px;
}

.chattingBox:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}

.chattingBox h3 {
    font-size: 35px;
    color: var(--secondary-color);

}

.chattingBox button {
    width: 100%;
}

/* .fightingContainer {
    display: flex;
} */
.skillLevel p {
    font-family: var(--ff-primary-medium);
    font-size: 19px;
}

.member {
    display: flex;
    gap: 10px;
    padding-block: 20px;
}

.member:not(:last-child) {
    border-bottom: 1px solid #707070;
}

.member img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.member h6 {
    margin-bottom: 0px;
}

.member p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

}

.member p:first-child {
    font-size: 15px;
}

.member p:last-child {
    font-size: 15px;
}

.memberContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.memberContent h6{
    font-size: 19px;
    text-transform: capitalize;
}
.showAllBtn {
    margin-top: 20px;
    width: 100%;
    border-radius: 0px;
    font-family: var(--ff-primary-semiBold);
    text-transform: capitalize
}

.actions svg,
.editBtn {
    font-size: 20px;
}

.imageBox {
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(238, 233, 233)
}

.award img {
    width: 100%;
    height: 100%;
    margin-bottom: 7px;
}

.awardEdit {
    position: absolute;
    top: -4px;
    right: 5px;
    cursor: pointer;
    z-index: 2;
    background-color: var(--white-color) !important;
    height: 30px !important;
    width: 30px !important;
    border: 1px solid black;
}

.awardEdit svg {
    color: var(--black-color);
    font-size: 17px;
}

.skillLevelTypes {
    padding-top: 10px;
}

.skillLevelTypes p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.skillLevelTypes .skillHeading {
    font-family: var(--ff-primary-semiBold);
    font-size: 19px;
}

.skillLevelTypes p span {
    font-size: 17px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.editField {
    cursor: pointer;
    margin-top: -30px;
}

.disciplineeBox {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.disciplineeBox:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-color)
}

.editDiscipline {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.editDiscipline .edit {
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer
}

.editDiscipline .delete {
    font-size: 18px;
    color: var(--bg-color);
    cursor: pointer
}

.editField {
    display: flex;
    gap: 10px;
}

.edit {
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer
}

.delete {
    font-size: 18px;
    color: var(--bg-color);
    cursor: pointer
}

@media screen and (max-width:1200px) and (min-width:991px) {
    .fee {
        grid-column-gap: 0px;
    }
}

@media screen and (max-width:991px) {
    .fee {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:767px) {

    .header h3,
    .skillLevel h3 {
        font-size: 28px
    }

    .award img {
        height: 110px;
    }

    .dues h5 {
        font-size: 24px
    }

    .actions svg,
    .editBtn {
        font-size: 17px;
    }

    .leftContainer .editBtn,
    .rightContainer .editBtn {
        height: 34px;
        width: 34px;
    }
}

@media screen and (max-width:400px) {

    .header h3,
    .skillLevel h3 {
        font-size: 25px
    }

    .dues h5 {
        font-size: 20px
    }

    .award img {
        height: 110px;
    }

    .aboutContainer,
    .fightingContainer,
    .awardsContainer,
    .gymsContainer,
    .instructorContainer,
    .studentsContainer,
    .rightContainer,
    .ownersContainer {
        padding: 15px;
        margin-bottom: 1em;
    }
}