.btn {
  letter-spacing: -0.36px;
  outline: none;
  border: none;
  font-family: "rajdhani-bold";
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 12px 35px;
  border-radius: 8px;
  font-size: 16px;
}