.profile__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile__wrapper p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.tabs__wrapper {
  display: flex;
  margin-bottom: 20px;
}

.tabs__wrapper p {
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer;
  font-family: var(--ff-primary-med);
}