.createPost {
    border: 1px solid #E81C24;
    border-radius: 40px;
    padding: 6px 16px 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #FAFAFA
}

.rightDiv {
    display: flex;
    gap: 8px;
    align-items: center;
}

.userProfile {
    /* border: 2px solid #203777; */
    border-radius: 50%;
    height: 45px;
    width: 45px;
    overflow: hidden;
}

.userProfile img {
    height: 100%;
    width: 100%;
}

.placeholder {
    text-transform: capitalize;
    color: #606060;
    font-size: 18px;
    font-family: var(--ff-kanit-reg)
}

.editPost svg {
    font-size: 21px;
    color: #606060;
}