.container {
  position: relative;
  margin: 50px 0;
}

.inputField {
  margin-bottom: 30px;
}

.inputField button {
  width: 100%;
}
.inputField input::placeholder {
  text-transform: lowercase !important;
}

.lightred {
  background-color: rgba(220, 53, 69, 0.2);
}
