.noDataContainer {
  height: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noDataContainer p {
  color: var(--main-color);
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}
