.tabs {
    display: flex;
    margin-bottom: 20px
}

.tabs .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-block: 20px;
    cursor: pointer
}

.tab.active {
    background-color: var(--main-color);
    color: var(--white-color)
}


.activityContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 10px 30px;
}

.feelingDiv {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    /* justify-content: center; */
    justify-items: center;
    gap: 10px;
    padding-block: 16px;
    border-top: 1px solid #e0e0e0;
    cursor: pointer
}
.feelingDiv:nth-child(1n){
    border-right: 1px solid #e0e0e0;

}
.activeFeeling {
    background-color: #f13949;
    color: var(--white-color);
}

.feelingDiv p {
    margin-bottom: 0px;
    font-size: 17px;
    width: 100%;
    justify-items: start;
}

.feelingDiv span {
    width: 100%;
    justify-items: start;
    text-align: right;
}

.feelingDiv svg {
    color: var(--secondary-color);
    font-size: 20px;
}

.backIcon {
    padding-left: 10px;
}

.backIcon svg {
    font-size: 24px;
    cursor: pointer
}