.content h4 {
  text-align: center;
  font-size: 25px;
}

.btnsBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.yesBtn {
  background-color: var(--main-color);
  padding: 10px 45px;
}

.noBtn {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px 45px;
  margin-left: 40px;
}

/* For Header */
.iconDiv {
  margin-block: 6px;
}

.modalHeader {
  padding: 0px;
}

.headingText {
  font-size: 24px;
  color: var(--secondary-color);
}
.message {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.aCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: auto;
}
