.profileTabs {
  padding-block: 10px;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  overflow-x: auto;
}

.profile_container {
  background-color: #e81c240f;
}

.tab {
  width: 190px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  padding-block: 10px;
  border-radius: 9px;
  cursor: pointer;
  color: var(--bg-color);
  font-family: var(--ff-kanit-med);
  font-size: 22px;
  flex-shrink: 0;
}

.profileTabs > * {
  flex-shrink: 0;
  flex-basis: auto;
  white-space: nowrap;
}

.profileTabs::-webkit-scrollbar {
  display: none;
}

.activeTab {
  background-color: var(--bg-color);
  color: var(--white-color);
}
