.modal {
  --bs-modal-bg: transparent;
  border-radius: 0;
  border: 0px;
}

.modal > div {
  max-width: 100% !important;
}

.modal > div > div,
.modal > div > div > div {
  position: static;
}

.modalBody {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightboxHeader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 20%);
  inset-inline: 0;
  width: 100vw;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.lightboxHeader span {
  cursor: pointer;
}

.transformWrapper {
  transition: all 0.1s linear;
}

.image {
  user-select: none;
  transform-origin: top left;
}
.cropperWrapper {
  overflow: hidden;
  max-height: calc(100vh - 200px);
}
