.HeaderNotification {
  width: 360px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 4px 0px #0000004a;
  padding: 0px 0px 16px 0px;
  border-radius: 12px;
}

.ImgDiv {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  overflow: hidden
}

.HeaderNotificationInnerDiv {
  display: flex;
  /* align-items: center; */
  border-bottom: 1px solid var(--text-color-gray);
  padding: 0px 28px 16px 16px;
  cursor: pointer;
}

.contentDiv {
  margin-left: 8px;
  width: 100%;
}

.contentDiv h6 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 19px
}

.contentDiv p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text-color-gray);
  margin-bottom: 0px;
  font-size: 16px
}

.mb16 {
  margin-bottom: 16px;
}

.viewAll {
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
  z-index: 200;
}

.notificationHeader {
  margin-bottom: 24px;
  padding-left: 16px;
  background: var(--main-color);
  color: var(--white-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.notificationHeader h4 {
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: 24px;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:450px) {
  .HeaderNotification{
    width: 100%;
  }
}